*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    height: 100%; 
}
nav{
    height: 90px;
    width: 100%;
    background-color: white;
}
nav ul{
    float: right;
}
nav li{
    display: inline-block; 
    margin-top: 30px;
    margin-right: 40px, 
}
nav li a{
   @font-face {
    font-family: "Bebas_Neue";
    src: url(Fonts/BebasNeue-Regular.ttf);
    font-size: 100px;
   }
   }