*{
    margin: 0;
    padding: 0;
    
}
html{
    height: 100%;
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=League+Gothic&display=swap');
}
@font-face {
    font-family: 'Alternate';
    src: url(/Alternate\ Gothic\ No2\ D\ Regular.ttf) format('ttf');
} 

header{
    height: 100%;
    background-color: white
}
img{
    max-width: 50%;
    max-height: 50%;
    top: 25px;
    
}

nav{
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
}
.nav_logo{
    margin: 20px;
    padding-top: 6px;
    justify-content: center;
    align-items: center;
    max-width: 23rem;

}
nav ul{
    display: flex;
}
nav ul li{
    height: 100%;
    padding: 30px;
    list-style-type: none;
}
nav ul li:hover{
    font-style:bold;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Bebas Neue';
}
.toggle-button{
    position: absolute;
    align-items: center;
    top: 25px;
    right: 25px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 23px;
}
.toggle-button .bar{
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 100px;
}

.parent{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px;
}
.container1 {
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding: 40px;
    
}
@media(max-width:900px){
    .list-container{
        display: none;
        width: 100%;
    }
    .toggle-button{
        display: flex;
    }
    nav{
        flex-direction: column;
        align-items: flex-start;
    }
    .list-container ul{
        flex-direction: column;
        width: 100%;
    }
    .list-container li{
        text-align: center;
    }
    .list-container.active{
        display: flex;
    }
}